
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9e3e3;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
}

.header_text {
    font-size: 3em;
    color: #d32f2f;
}

.gif_container img {
    width: 100%; 
    max-width: 500px; 
    height: auto; 
}

@keyframes floatStickers {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
    50% {
        transform: translateY(-50px) scale(1.1);
        opacity: 0.9;
    }
    100% {
        transform: translateY(-100px) scale(1.2);
        opacity: 0;
    }
}

.sticker {
    position: absolute;
    width: 80px; /* Adjust size */
    height: 80px;
    background-image: url('https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExMnJjc2RxeHYxdmY2dXh3a3dvNTQ2MDJueHQ2Z2p2ZmJsb3AzNWRxNSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/IYFjaRidMtNnYNIV3t/giphy.gif');
    background-size: contain;
    background-repeat: no-repeat;
    animation: floatStickers 3s linear infinite;
}